
.extra-hooks {

    &:after, &:before {
        content: '';
        display: table;
    }

    .hook-item {
        float: left;
        width: 50%;

        .text-field {
            margin: 0 auto;
        }

        .raised-button {
            width: auto;
        }
    }
}