.new-feature {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 1px;

    h1 {
        text-align: center;
    }

    .tab {

        .tabs {

            .flat-button {
                color: #fff;
                font-size: 24px;
                font-weight: bold;
            }
        }

        .tab-content {
            padding: 0 !important;
        }
    }

    .es-content {
        padding: 0 24px;

        .feature-item {
            > p {
                font-size: 20px;
            }
        }
    }
}